<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.linq.base" version="34.1.29" />
  <package id="syncfusion.compression.base" version="34.1.29" />
  <package id="syncfusion.data.wpf" version="34.1.29" />
  <package id="syncfusion.gridcommon.wpf" version="34.1.29" />
  <package id="syncfusion.sfcellgrid.wpf" version="34.1.29" />
  <package id="syncfusion.sfgrid.wpf" version="34.1.29" />
  <package id="syncfusion.sfgridcommon.wpf" version="34.1.29" />
  <package id="Syncfusion.ExcelToPdfConverter.Wpf" version="34.1.29" />
  <package id="syncfusion.excelcharttoimageconverter.wpf" version="34.1.29" />
  <package id="Syncfusion.Pdf.Wpf" version="34.1.29" />
  <package id="syncfusion.pdfviewer.wpf" version="34.1.29" />
  <package id="syncfusion.sfspreadsheet.wpf" version="34.1.29" />
  <package id="syncfusion.sfspreadsheethelper.wpf" version="34.1.29" />
  <package id="syncfusion.tools.wpf" version="34.1.29" />
  <package id="Syncfusion.XlsIO.Wpf" version="34.1.29" />
  <package id="syncfusion.markdown" version="34.1.29" />
  <package id="syncfusion.sfchart.wpf" version="34.1.29" />
</packages>